<!--
Interpolación de variables. Lo que está entre
las dobles llaves {{}} es la variable title,
cuyo valor se establece en la clase, y acá
es interpolado.
-->
<h1>{{title}}</h1>
<hr>
<!--
https://angular.io/api/router/RouterOutlet
RouterOutlet DIRECTIVE
Actúa como un marcador de posición que Angular 
dinámicamente llena según el estado actual 
del enrutador.
El <router-outlet> le dice al enrutador dónde
para mostrar las vistas enrutadas. El RouterOutlet
es una de las directivas de enrutador 
disponibles para AppComponent porque
AppModule importa AppRoutingModule que a su vez
exporta RouterModule.
-->
<router-outlet></router-outlet>