<div class="container">
    <!--
    Id
    https://stackoverflow.com/a/1397620/2740402
    id is used to identify the HTML element through the 
    Document Object Model (via JavaScript or styled 
    with CSS). id is expected to be unique within the page.
    name corresponds to the form element and 
    identifies what is posted back to the server.
    En este caso, cada uno de los controles del formulario
    tiene su propia id.

    ngModel DIRECTIVE
    https://angular.io/api/forms/NgModel#ngmodel
    Crea una instancia de FormControl, es decir un
    control de formulario. 
    Este control lo crea a partir de un tipo que
    esté en el modelo del dominio. En nuestro caso
    no hay un paquete models. Sin embargo, la interfaz
    Tarea, que es exportada por el archivo
    tarea.service.ts, es el modelo. Recordemos que
    esta es una aplicación que gestiona tareas.
    El argumento tareaNueva es de tipo Tarea, y uno
    de sus campos es justamente tarea.

    Acepta un tipo de modelo como un Input opcional.
    https://angular.io/api/core/Input
    @Input es un decorador que marca un campo de 
    una clase como propiedad de entrada y 
    proporciona metadatos de configuración. 
    La propiedad de entrada está vinculada a una 
    propiedad DOM en la plantilla. Durante la 
    detección de cambios, Angular actualiza 
    automáticamente la propiedad de datos con 
    el valor de la propiedad DOM.

    Notación []
    Esta notación es el property binding unidireccional.
    En este caso, un cambio del valor de modelo en el
    dominio en la clase del componente cambia el
    valor en el componente.

    Notación [()]
    Esta notación es el property binding bidireccional.
    También se la conoce como banana-en-caja.
    En este caso, el valor en la interfaz de usuario
    siempre está sincronizado con el valor del objeto
    en el modelo del dominio.
    -->
    <form action="">
        <label for="tarea">Tarea</label>
        <input type="text" id="tarea" name="tarea" [(ngModel)]="tareaNueva.tarea">
        <br>
        <label for="finalizado">Finalizado</label>
        <input type="checkbox" id="finalizado" name="finalizado" [(ngModel)]="tareaNueva.finalizado">
        <br>
        <button class="btn btn-primary" (click)="addTarea();">Guardar</button>
    </form>

</div>